bot_linux 
.vscode
__pycache__ 
*.ttf
*.png
*.jpg
*.txt
/pic
/ttf
constants.py
xpath_ref.py
config.py
testd.py
MyDataBase.py
add_db.py
sheduler.py
pict.py
world_champ.py
webhook_cert.pem
webhook_pkey.pem